body {
    background-color:white;
    font-family: 'Anton', sans-serif;
}

.header{
    margin-block-start: 0%;
    background-color: white;
}
.header h1{
    color:black;
    text-align:center;
}
.header h2{
    font-size: 11pt;
    color:black;
    text-align: center; 
}
.medsos{
    margin: 0px 540px;
    display: flex;

}
.medsos1 {
    padding: 20px;
}
.medsos1 .logo{
    width: 40%;
    height: 50px;
    width: 50px;
}
.username{
    color: black;
}
.nav{
    background-color: black;
}
.nav a{
    color: white;
}

.isi{
    padding: 5px;
    display: flex;
}
.konten{   
    padding: 10px;
    height: auto;
    width: 200vh;
    border-style: groove;
    border-width: 3px;
    border-color: grey;
    border-radius: 5px;
    vertical-align: middle;
}
.konten h3{
    text-align: center;
}
.subkonten{
    height: auto;
    margin-bottom: 10px;
    padding: 3px;
    border-style: groove;
    border-width: 3px;
    border-color: grey;
    border-radius: 10px;
    
}
.subkonten .logo{
    height: 90px;
    width: 90px;    
}
.subkonten1{
    display: flex;
    margin: auto 10px;
    margin-bottom: 10px;
    padding: 3px;
    border-style: groove;
    border-width: 3px;
    border-color: grey;
    border-radius: 10px;
}
.subkonten1 .foto{
    border-style: groove;
    border-width: 3px;
    border-radius: 10px;
    border-color: grey;
    height: 250px;
    width: 200px;
}
.subkonten p{
    display: inline-block;
    vertical-align: middle;
}
.bio h3, h6, p{
    padding-left: 10px;
    text-align: left;
}