{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ariq Haryo Setiaki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

</head>

<body>
    {% include 'header.html' %}
    <div class="isi">
        <div class="konten">
           <form>
            <div class="form-group">
                <label >Nama</label>
                <input class="form-control" type="text" placeholder="Masukan nama">
                <small id="emailHelp" class="form-text text-muted">Nama anda akan ditampilkan di buku tamu</small>
            </div>
            <div class="form-group">
                <label >Tanggal</label>
                <input class="form-control" type="date" placeholder="Masukan tanggal">
            </div>
            <div class="form-group">
              <label>Alamat Surat Elektronik (Surel)</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukan alamat surel">
            </div>
            <div class="form-group">
              <label>Subjek</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Masukan subjek">  
            </div>
            <div class="form-group">
                <label>Pesan</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Kirim</button>
          </form> 
        </div>
        <div class="konten">
            <h3>Buku Tamu</h3>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>