{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ariq Haryo Setiaki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

</head>

<body>
    <div class="header">
        <h1>Ariq Haryo Setiaki</h1>
        <h2>Unjuk Diri, Unjuk Gigi</h2>
        <div class="medsos">
            <div class="medsos1">
                <a href="https://www.facebook.com/ariqharyo"><img class="logo" src="http://www.stickpng.com/assets/images/584ac2d03ac3a570f94a666d.png"></a>
            </div>
            <div class="medsos1">
                <a href="https://twitter.com/ariqharyo"><img class="logo" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png"></a>
            </div>
            <div class="medsos1">
                <a href="https://www.instagram.com/ariqharyo/"><img class="logo" src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-logo-png-transparent-background-800x799.png"></a>
            </div>
            <div class="medsos1">
                <a href="www.linkedin.com/in/ariqharyo"><img class="logo" src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG32.png"></a>
            </div>
            <div class="medsos1">
                <a href="https://gitlab.com/ariqharyo"><img class="logo" src="https://about.gitlab.com/images/press/logo/logo.png"></a>
            </div>
        </div>    
        <div class="navigation">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link" href="{% url 'utama' %}">Utama</a>
                <a class="nav-item nav-link" href="#">Karya</a>
                <a class="nav-item nav-link" href="#">Pemikiran</a>
                <a class="nav-item nav-link" href="{% url 'relasi' %}">Relasi</a>
                <a class="nav-item nav-link" href="{% url 'bukutamu' %}">Buku Tamu</a>
                <a class="nav-item nav-link" href="{% url 'kegiatan' %}">Kegiatan</a>
            </nav>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>