{% extends 'header.html' %}

{% block content %}
<div class="container">
   <div class="col">
        <form action="{% url 'kegiatan' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Nama Kegiatan : </label>
                {{ form.form_nama_kegiatan }}
            </div>
            <div class="form-group">
                <label>Kategori : </label>
                {{ form.form_kategori }}
            </div>
            <div class="form-group">
                <label>Hari & Tanggal & Waktu (format : hari/bulan/tahun jam:menit) : </label>
                {{ form.form_hari_tanggal}}
            </div>
            <button type="submit" class="save btn btn-default">Daftarkan Jadwal</button>
        </form>
        <form action="{% url 'hapusKegiatan' %}">
            <button type="submit" class="save btn btn-default">Hapus Jadwal</button>
        </form>
        
    </div>
    <div class="col">
        {% for kegiatan in list_kegiatan %}
        <div class="row">
            <p>{{ kegiatan }} {{ kegiatan.kategori }} {{ kegiatan.hari_tanggal }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}